body {
	margin: auto;
	background-color: #1a1a1a;
	max-width: 1100px;
	font-family: "open sans";
}

/*Div properties*/
#nav {
	height: 45px;
	background-color: #1a1a1a;
}
#heading {
	background-color: #1a1a1a;
	height: 100px;
	margin: 0px 0px 0px 0px;
}

/*Text Styles*/
h1 {
	font-size: 21px;
	font-weight: 300;
	color: #00ffcc;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	color: #aaa;
}

p {
	font-size: 12px;
	font-weight: 400;
	color: #aaa;
}

circle:hover {
	opacity: .9;
}

#tooltip {
	border: #000; 
}

.axis {
	
}